*.iml
.gradle
.idea
*.jks
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android build
*.apk
*.aab

# Build folders
/build/
/app/build/
/app/release/
app/keystore/*

!app/keystore/
!app/keystore/.gitkeep

# Gradle
.gradle/

app/google-services.json

temps

